@import url('https://fonts.googleapis.com/css?family=Damion|Muli:400,600');
body{
  font-family: 'Muli', sans-serif;
  background-color: rgb(182, 205, 225);
}

.Title {
  color: rgb(90, 41, 41);
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}

.table01{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.td1{
  text-align: right;
  color: rgb(0, 0, 0);
}

.td2{
  text-align: left;
}

/* necessary to give position: relative to parent. */
input[type="password"], input[type="text"]{font: 10px/20px 'Muli', sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}

:focus{outline: none;}

.col-3{float: left; height: auto; width: 30%; margin: 10px 3%; position: relative;} /* necessary to give position: relative to parent. */
input[type="password"], input[type="text"]{font: 12px/20px "Lato", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}

.effect-9{border: 1px solid rgb(215, 75, 75); padding: 7px 16px 9px; transition: 0.4s;}

.effect-9 ~ .focus-border:before,
.effect-9 ~ .focus-border:after{content: ""; position: absolute; top: 0; right: 0; width: 0; height: 2px; background-color: #4caf50; transition: 0.2s; transition-delay: 0.2s;}
.effect-9 ~ .focus-border:after{top: auto; bottom: 0; right: auto; left: 0; transition-delay: 0.6s;}
.effect-9 ~ .focus-border i:before,
.effect-9 ~ .focus-border i:after{content: ""; position: absolute; top: 0; left: 0; width: 2px; height: 0; background-color: #4caf50; transition: 0.2s;}
.effect-9 ~ .focus-border i:after{left: auto; right: 0; top: auto; bottom: 0; transition-delay: 0.4s;}
.effect-9:focus ~ .focus-border:before,
.effect-9:focus ~ .focus-border:after{width: 100%; transition: 0.2s; transition-delay: 0.6s;}
.effect-9:focus ~ .focus-border:after{transition-delay: 0.2s;}
.effect-9:focus ~ .focus-border i:before,
.effect-9:focus ~ .focus-border i:after{height: 100%; transition: 0.2s;}
.effect-9:focus ~ .focus-border i:after{transition-delay: 0.4s;}





.button {
    background-image: linear-gradient(135deg, #008aff, #86d472);
    border-radius: 6px;
    box-sizing: border-box;
    color: #ed2929;
    display: block;
    height: 40px;
    font-size: 1.4em;
    font-weight: 700;
    text-align: center;
    padding: 3px;
    position: relative;
    text-decoration: none;
    width: 7em;
    z-index: 2;
  }
  
  .button:hover {
    color: rgb(29, 15, 92);
  }