<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Tourism on National Parks &amp; Sacntuaries</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>ee</filter-name>
    <filter-class>MyFilter01</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ee</filter-name>
    <servlet-name>b</servlet-name>
  </filter-mapping>
  <filter>
    <filter-name>ff</filter-name>
    <filter-class>MyFilter02</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ff</filter-name>
    <servlet-name>b</servlet-name>
  </filter-mapping>
  <filter>
    <filter-name>gg</filter-name>
    <filter-class>MyFilter03</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>gg</filter-name>
    <servlet-name>b</servlet-name>
  </filter-mapping>
  <servlet>
    <servlet-name>#</servlet-name>
    <servlet-class>Servlet01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>#</servlet-name>
    <url-pattern>/s01</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>a</servlet-name>
    <jsp-file>/WEB-INF/classes/trip.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>a</servlet-name>
    <url-pattern>/s02</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>b</servlet-name>
    <servlet-class>Servlet03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>b</servlet-name>
    <url-pattern>/s03</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>c</servlet-name>
    <servlet-class>Servlet04</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>c</servlet-name>
    <url-pattern>/s04</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>d</servlet-name>
    <servlet-class>Servlet05</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>d</servlet-name>
    <url-pattern>/s05</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>e</servlet-name>
    <servlet-class>Servlet06</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>e</servlet-name>
    <url-pattern>/s06</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>f</servlet-name>
    <servlet-class>Servlet07</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>f</servlet-name>
    <url-pattern>/s07</url-pattern>
  </servlet-mapping>
</web-app>